/* Medium and up */
/* Large */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 62.5%; }

h1, h3, h2, h3, h5, h6, .navigation {
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0; }

h1, h3 {
  color: #181818;
  font-size: 2.6em;
  letter-spacing: -.5px;
  line-height: 1;
  font-weight: 900; }

h2 {
  color: #FF0500;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 1.8em; } }

.h2-secondary {
  color: #00B7FF; }

h3 {
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 2.8em; } }

h4 {
  color: #FF0500;
  font-size: 2.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase; }

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8em; }

h6 {
  font-weight: 600;
  color: #fff; }
  h6::before {
    content: "";
    display: inline-block;
    background: #FF0500;
    height: 7px;
    width: 7px;
    margin-right: 10px; }

p {
  color: #3C3C3C;
  font-size: 1.8em;
  line-height: 1.2; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: underline; }

.i-change-view {
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -91px -1433px;
  vertical-align: middle;
  height: 118px;
  width: 118px;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5); }

.icon, .i-faceboook, .i-twitter, .i-instagram, .i-linkedin, .i-tumblr, .i-google {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/sprite-lemon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: 240px; }

.i-faceboook {
  background-position: 0 0; }
  .i-faceboook:hover {
    background-position: 0 -40px; }

.i-twitter {
  background-position: -40px 0; }
  .i-twitter:hover {
    background-position: -40px -40px; }

.i-instagram {
  background-position: -80px 0; }
  .i-instagram:hover {
    background-position: -80px -40px; }

.i-linkedin {
  background-position: -120px 0; }
  .i-linkedin:hover {
    background-position: -120px -40px; }

.i-tumblr {
  background-position: -160px 0; }
  .i-tumblr:hover {
    background-position: -160px -40px; }

.i-google {
  background-position: -200px 0; }
  .i-google:hover {
    background-position: -200px -40px; }

.i-location, .i-search {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-size: 340px;
  background-position: 0 -273px;
  width: 80px;
  height: 60px; }
  .i-location:hover, .i-search:hover {
    background-position: 0 -360px; }

.i-search {
  background-position: -2px -12px; }
  .i-search:hover {
    background-position: -2px -99px; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.yellow {
  color: #F1DF10; }

.special {
  padding: 20px;
  background-color: #E5E5E5;
  color: #757575;
  font-weight: bold;
  font-size: 1.8em; }
  .special:hover {
    background-color: #f2f2f2;
    color: #a8a8a8; }

.special-blue {
  padding: 15px;
  background-color: #00B7FF;
  color: #fff;
  font-weight: bold;
  font-size: 1em; }
  .special-blue:hover {
    background-color: #006e99;
    color: #999999; }

.special-hollow {
  padding: 22px 45px;
  background-color: transparent;
  font-weight: 600;
  font-size: .9em;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer; }
  .special-hollow:hover {
    border-color: gray;
    color: gray; }

.nice-list li {
  list-style-type: none;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  height: 70px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  width: 100%;
  padding-top: 20px; }
  .nice-list li::before {
    content: "";
    display: inline-block;
    background: #FF0500;
    height: 7px;
    width: 7px;
    margin-right: 10px; }
  .nice-list li:last-child {
    border: none; }

.choped-corner {
  margin-bottom: 10px;
  display: inline-block;
  color: #fff;
  background-color: #FF0500;
  font-size: 1.4em;
  line-height: 2;
  letter-spacing: 1px;
  height: 30px;
  width: 140px;
  position: relative;
  text-align: center; }
  .choped-corner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid #fff;
    border-right: 10px solid #FF0500;
    width: 0; }
  .choped-corner:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid #FF0500;
    width: 0; }

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 61px;
  background-color: #181818;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 6px;
  border-bottom: 1px solid #fff; }
  nav .logo {
    float: left; }
  nav .a-menu-right {
    float: right;
    height: 61px; }
    nav .a-menu-right a {
      border-left: 1px solid rgba(200, 200, 200, 0.1);
      display: inline-block;
      vertical-align: middle;
      height: 60px;
      width: 80px; }
    nav .a-menu-right .a-menu {
      padding-left: 30px;
      padding-top: 20px; }
    nav .a-menu-right span {
      display: block;
      background-color: #fff;
      width: 20px;
      height: 2px;
      margin-top: 4px; }
    nav .a-menu-right:hover span {
      background-color: gray; }
    nav .a-menu-right:target span:last-child {
      display: none; }

#lead-image {
  margin-top: 36px;
  border-bottom: 5px solid #FF0500;
  width: 100%; }

.lead-news article,
.main-news article {
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  border-left: 1px solid rgba(200, 200, 200, 0.4);
  padding: 20px 0; }

.lead-news img,
.main-news img {
  width: 93%;
  margin: 0 auto 0 auto; }

.lead-news .headlines,
.main-news .headlines {
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  background-color: #F7F7F7;
  padding-bottom: 5px; }
  .lead-news .headlines ul,
  .main-news .headlines ul {
    overflow: hidden; }

.text {
  width: 90%;
  margin: 15px auto 0 auto; }
  .text p {
    margin-top: 10px; }

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .main-news article:nth-child(1) {
    height: 510px; }
  .main-news article:nth-child(2) {
    height: 510px; } }

.magazine {
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  padding-top: 30px; }
  .magazine h4 {
    display: inline-block;
    background: white;
    padding: 0 20px;
    margin-bottom: -10px; }
  .magazine .orbit img {
    width: 93%;
    margin-left: auto;
    margin-right: auto; }
  @media screen and (min-width: 640px) {
    .magazine .orbit article {
      border-right: 1px solid rgba(200, 200, 200, 0.4); } }
  .magazine .orbit-bullets {
    z-index: 1;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 20px; }
    .magazine .orbit-bullets button {
      width: 12px;
      height: 12px;
      margin: 0 5px; }
    @media screen and (min-width: 640px) {
      .magazine .orbit-bullets {
        border-top: 1px solid rgba(200, 200, 200, 0.4); } }

.in-pics {
  background-color: #222;
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  position: relative;
  overflow: hidden; }
  .in-pics img {
    width: 100%; }

.change-view {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 0px;
  right: 50px; }

.change-view-big {
  position: absolute;
  width: 236px;
  bottom: 20px;
  left: 20px; }

.in-pics-text {
  text-align: center;
  margin-bottom: 40px; }
  .in-pics-text p {
    color: #999; }
  .in-pics-text span {
    font-size: 1.6em; }
  .in-pics-text h4 {
    margin-top: 20px;
    color: #00B7FF; }
  .in-pics-text .dotted {
    font-weight: bold; }
    .in-pics-text .dotted::before {
      content: "";
      display: inline-block;
      background: #00B7FF;
      height: 7px;
      width: 7px;
      margin-right: 10px; }
  @media screen and (min-width: 640px) {
    .in-pics-text {
      margin-left: 270px;
      margin-bottom: 50px;
      text-align: left; } }

.features {
  padding-top: 40px; }
  .features h3 {
    font-size: 3.1em;
    font-weight: 900; }

.cover img {
  width: 100%; }

.this-issue {
  text-align: center; }
  @media screen and (min-width: 640px) {
    .this-issue {
      text-align: left; } }

.heading {
  border-bottom: 3px solid #FF0500;
  margin-bottom: 10px; }

.most-read {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  clear: both;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Source Sans Pro", Arial, sans-serif; }
  .most-read .heading-most-read {
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase; }
    .most-read .heading-most-read:hover {
      text-decoration: none; }
    .most-read .heading-most-read::after {
      content: "";
      display: inline-block;
      width: 42px;
      height: 29px;
      margin-left: 20px;
      background: url(../img/nw-arrow-down1.png) 0px 0px/42px no-repeat; }
  .most-read .most-read-topics li {
    margin: 10px 0 10px -20px;
    list-style: none;
    height: 107px;
    font-size: .9em;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4); }
    .most-read .most-read-topics li:first-child {
      margin-top: 0; }
    .most-read .most-read-topics li img {
      float: left;
      width: 135px;
      height: 90px;
      margin-right: 10px; }
    .most-read .most-read-topics li a {
      font-weight: 600; }

footer {
  border-top: 5px solid #FF0500;
  background: #181818;
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.6em; }

.links .copy-group {
  margin: 40px 0 40px 25px; }
  .links .copy-group img {
    margin-bottom: 15px; }
  @media screen and (min-width: 640px) {
    .links .copy-group {
      margin-left: 30px; } }

.links .copy {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(200, 200, 200, 0.4); }

.links .social {
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  padding-top: 30px;
  padding-left: 10px; }

.links .footer-links {
  margin: 30px 0 110px 10px; }
  .links .footer-links li {
    height: 35px;
    font-weight: 600; }
  @media screen and (min-width: 640px) {
    .links .footer-links {
      margin-left: 15px;
      margin-bottom: 0; } }

.social a {
  width: 40px;
  height: 40px;
  margin: 10px; }
  .social a:first-child {
    margin-left: 0; }

@media screen and (min-width: 640px) {
  .social {
    padding: 25px 0 50px 35px; } }

.recent-issues {
  border-left: 1px solid rgba(200, 200, 200, 0.4);
  padding-bottom: 150px; }
  .recent-issues .special-blue {
    margin-top: 40px; }
  .recent-issues h5 {
    margin: 30px 0 10px 30px; }
  .recent-issues article img {
    padding-left: 20px;
    width: 100%;
    margin-bottom: 10px; }
  .recent-issues article li {
    font-weight: 300;
    color: rgba(200, 200, 200, 0.4);
    list-style: none;
    margin-top: 10px; }
  .recent-issues .special-hollow {
    margin-top: 25px;
    margin-left: 35px; }

.recent-covers {
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  padding-left: 10px; }

.reveal {
  background: #F7F7F7;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 600; }
  .reveal .modal-head {
    height: 61px;
    background: #181818;
    margin-top: -17px; }
    .reveal .modal-head img {
      position: absolute;
      top: 0;
      left: 0; }
    .reveal .modal-head .close-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 61px;
      width: 80px;
      background: #F7F7F7;
      font-size: 40px; }
  .reveal .search {
    margin-top: 75px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4); }
    .reveal .search input {
      padding: 25px; }
  .reveal .vertical li {
    height: 55px;
    font-size: 1.8em;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4); }
    .reveal .vertical li a {
      line-height: 2; }
  .reveal .more-options {
    position: absolute;
    background: #181818;
    height: 61px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.6em; }
    .reveal .more-options .subscribe img {
      border-radius: 50%; }
    .reveal .more-options .subscribe .subscribe-img {
      padding-top: 10px;
      margin-left: 30px;
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle; }
    .reveal .more-options .subscribe .subscribe-text {
      padding-top: 10px;
      line-height: 1;
      display: inline-block;
      vertical-align: middle; }
    .reveal .more-options .location {
      border-left: 1px solid rgba(200, 200, 200, 0.4);
      border-right: 1px solid rgba(200, 200, 200, 0.4);
      height: 61px; }
    .reveal .more-options .sign-in {
      height: 61px;
      padding-top: 15px;
      border-bottom: 5px solid #FF0500; }
    .reveal .more-options a {
      color: #fff; }
      .reveal .more-options a:hover {
        text-decoration: none;
        color: #b3b3b3; }
