// Lastes Pictures
.in-pics{
  background-color: #222;
  color: $white;
  font-family: $font-primary;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  img{
    width: 100%;
  }
  @include media-large{
    padding-top: 40px;
  }
}

.change-view{
  position: absolute;
  width: 59px;
  height: 59px;
  top: 0px;
  right: 50px;
}

.change-view-big{
  position: absolute;
  width: 236px;
  bottom: 20px;
  left: 20px;
  @include media-large{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: -20px;
    width: 100%;
  }
}

.in-pics-text{
  text-align: center;
  button{
    font-size: 1.4em;
  }
  p{
    color: #999;
    @include media-large{
      font-size: 1.6em;
    }
  }
  span{
    font-size: 1.6em;
  }
  h4{
    margin-top: 20px;
    color: $blue;
    @include media-large{
      font-size: 2em;
      line-height: 1em;
    }
  }
  .dotted{
    font-weight: bold;
    @include blue-dot;
  }
  @include media-medium{
    margin-left: 270px;
    text-align: left;
  }
  @include media-large{
    margin-left: 100px;
    text-align: left;
  }
}
