// Magazine section
.magazine{
  border-top: $grey-border;
  padding-top: 30px;
  @include media-large{
    padding-bottom: 30px;
  }
  h4{
    display: inline-block;
    background: white;
    padding: 0 20px;
    margin-bottom: -10px;
  }
  .orbit{
    img{
      width: 93%;
      margin-left: auto;
      margin-right: auto;
    }
    article{
      @include media-medium{
        border-right: $grey-border;
      }
    }
  }
  .orbit-bullets{
    z-index: 1;
    background: none;
    box-shadow: none;
    padding-top: 20px;
    button{
      width: 12px;
      height: 12px;
      margin: 0 5px;
    }
    @include media-medium{
      border-top: $grey-border;
    }
  }
}

.orbit-previous, .orbit-next{
  background-color: $red;
  width: 60px;
  height: 60px;
  font-size: 40px;
  cursor: pointer;
  &:focus{
    background-color: $red;
  }
  &:hover{
    background-color: $black-main;
  }
}
