// Colors
$black-main: #181818;
$black-text: #3C3C3C;
$white: #fff;
$yellow: #F1DF10;
$red: #FF0500;
$grey: #F7F7F7;
$light-grey: rgba(200, 200, 200, 0.3);
$blue: #00B7FF;

// Fonts
$font-primary: 'Source Sans Pro', Arial, sans-serif;
$font-secondary: Georgia, "Times New Roman", Times, serif;

// Other
$red-border: 5px solid $red;
$grey-border: 1px solid $light-grey;
