@import "variables";
@import "mixins";
@import "typorgaphy";
@import "icons";
@import "mishmash";
@import "navigation";
@import "lead-news";
@import "magazine";
@import "in-pictures";
@import "features";
@import "footer";


// Popup menu
.reveal{
  background: $grey;
  font-family: $font-primary;
  font-weight: 600;
  .modal-head{
    height: 61px;
    background: $black-main;
    margin-top: -17px;
    img{
      position: absolute;
      top: 0;
      left: 0;
    }
    .close-button{
      position: absolute;
      top: 0;
      right: 0;
      height: 61px;
      width: 80px;
      background: $grey;
      font-size: 40px;
    }
  }
  .search{
    margin-top: 75px;
    padding-bottom: 10px;
    border-bottom: $grey-border;
    input{
      padding: 25px;
    }
  }
  .vertical{
    li{
      height: 55px;
      font-size: 1.8em;
      border-bottom: $grey-border;
      a{
        line-height: 2;
      }
    }
  }
  .more-options{
    position: absolute;
    background: $black-main;
    height: 61px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.6em;
    .subscribe{
      img{
        border-radius: 50%;
      }
      .subscribe-img{
        padding-top: 10px;
        margin-left: 30px;
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
      }
      .subscribe-text{
        padding-top: 10px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .location{
      border-left: $grey-border;
      border-right: $grey-border;
      height: 61px;
    }
    .sign-in{
      height: 61px;
      padding-top: 15px;
      border-bottom: $red-border;
    }
    a{
      color: $white;
      &:hover{
        text-decoration: none;
        color: darken($white, 30%);
      }
    }
  }
}
